@import '../../styles/global.scss';

.gallery {
    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 50vw;
        height: 50vw;
        background-size: cover;

        &:nth-child(1) {
            background-image: url('../../assets/images/mobile/image-gallery-milkbottles.jpg');
        }

        &:nth-child(2) {
            background-image: url('../../assets/images/mobile/image-gallery-orange.jpg');
        }

        &:nth-child(3) {
            background-image: url('../../assets/images/mobile/image-gallery-cone.jpg');
        }

        &:nth-child(4) {
            background-image: url('../../assets/images/mobile/image-gallery-sugar-cubes.jpg');
        }
    }
}