@import '../../styles/global.scss';

.testimonials {
    max-width: 100vw;
    margin-bottom: 18px;

    @include tablet-large {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include desktop {
        padding: 6vw 8vw;
    }

    &__title {
        font-family: 'Fraunces';
        font-weight: 800;
        text-align: center;
        color: $neutral-lightest;
        width: 100vw;
        margin: 65px 0;
        font-size: 1rem;
        letter-spacing: 3.3px;

        @include desktop {
            font-size: 1.25rem;
            letter-spacing: 5px;
        }
    }

    &__testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet-large {
            width: 50vw;
        }

        @include desktop {
            width: 25vw;
        }

        &-image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        &-quote {
            font-family: 'Barlow';
            font-size: 18px;
            color: $neutral-medium;
            text-align: center;
            margin: 35px 23px;
            line-height: 30px;

            @include tablet {
                margin: 35px 105px;
            }

            @include tablet-large {
                margin: 35px 70px;
                font-size: 16px;
            }

            @include desktop {
                font-size: 18px;
                margin: 50px 0px;
                letter-spacing: 0.2px;
            }
        }

        &-name {
            font-family: 'Fraunces';
            font-weight: 800;
            color: $neutral-dark;
            font-size: 18px;
        }

        &-position {
            font-family: 'Barlow';
            color: $neutral-lightest;
            font-size: 14px;
            margin: 15px 0 70px 0;
        }
    }
}